.label
{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.label:hover
{
    cursor: pointer;
    color: red;
    filter: invert(22%) sepia(95%) saturate(6761%) hue-rotate(357deg) brightness(99%) contrast(118%);
}

.disabled
{
    cursor: pointer;
    color: grey !important;
    filter: invert(57%) sepia(5%) saturate(15%) hue-rotate(5deg) brightness(87%) contrast(91%);
}

.icon
{
    transform: translateY(-1px);
}

.list
{
    padding-bottom: 5px;
    background-color: #f0f2f5;
    transform: translate(-60px, 10px);
    width: 300px;
    min-height: 100px;
    position: absolute;
    margin-top: 10px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list ul
{
    width: 80%;
    background-color: #f0f2f5;
    position: relative;
    top: -6px;   
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 0 1px 3px 0 #9b9b9b;
    box-sizing: border-box;
}

.list li
{
    box-sizing: border-box;
    width: 100%;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.list li:hover
{
    background-color: #D6F1FF;
    cursor: pointer;
}

.avitoInput
{
    margin-bottom: 7px;
}